<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v4.0.1">
  <title>Create New Project</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/checkout/">

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/form-validation.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->

  <link href="/css/style2.css" rel="stylesheet">
  <link href="/css/form-validation.css" rel="stylesheet">

</head>

<body class="bg-light">


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      {{!-- <img src="/img/logo.png" height='50'> --}}
      <a class="navbar-brand ml-2" href="https://www.northrange.dev">Project Vault</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://www.northrange.dev">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>


          <li class="nav-item">
            <a href="/contact" class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a href="/add_project" class="nav-link" href="#">Add Project</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link" href="#">Logout</a>
          </li>
        </ul>
  </nav>
  <div class="container">
    <div class="py-5 text-center">

      <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h2>Create A New Project</h2>
      <p class="lead">Please fill out all the following information and add screen captures so that your new project
        will display correctly.</p>

    </div>



    <div class="row justify-content-center">
      <div class="col-md-8 order-md-1">

        <h4 class="mb-3">Project Section</h4>

        <form class="form-signin" action="/add_project" method="POST" enctype="multipart/form-data">
          {{!-- <form class="form-signin" action="/add_project" method="POST" enctype="multipart/form-data"> --}}
          <div class="row">
            <div class="col-md-12 mb-3">
              <label id="sect-title">Project Name</label>
              <input type="text" class="form-control" id="add-project-fields" name="projectName">

              <label id="sect-title">Project Description</label>
              <input type="text" class="form-control" id="add-project-fields" name="projectDescription">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label id="sect-title">Project URL</label>
              <input type="text" class="form-control" id="add-project-fields" name="projecturl">
            </div>

            <div class="col-md-6 mb-3">
              <label id="sect-title">Github Repo</label>
              <input type="text" class="form-control" id="add-project-fields" name="projectgit">
            </div>
          </div>

          <div class="row">
            {{!-- <div class="col-md-6 mb-3">
              <label id="sect-title">Project Links</label>
              <input type="text" class="form-control" id="add-project-fields" name="projectLinks">
            </div> --}}

            <div class="col-md-6 mb-3">
              <label id="sect-title">Cohort</label>
              <input type="text" class="form-control" id="add-project-fields" name="projectcohort">
            </div>
          </div>



          <!-- IMAGE UPLOAD SECTION -->
          <div class="row">
            <div class="col-md-12 mb-3" id="sect-title">Project Screenshots</div>

            <div class="col-md-6 mb-3">

              <label>Project Image1</label>
              <input type="file" class="form-contrl-file" id="add-project-fields" name="projectImage1">

              <label>Project Image2</label>
              <input type="file" class="form-contrl-file" id="add-project-fields" name="projectImage2">

              <label>Project Image3</label>
              <input type="file" class="form-contrl-file" id="add-project-fields" name="projectImage3">

              <label>Project Image4</label>
              <input type="file" class="form-contrl-file" id="add-project-fields" name="projectImage4">
            </div>

            <div class="col-md-6 mb-3">
              <label>Project Image5</label>
              <input type="file" class="form-contrl-file" id="add-project-fields" name="projectImage5">

              <label>Project Image6</label>
              <input type="file" class="form-contrl-file" id="add-project-fields" name="projectImage6">

              <label>Project Image7</label>
              <input type="file" class="form-contrl-file" id="add-project-fields" name="projectImage7">

              <label>Project Image8</label>
              <input type="file" class="form-contrl-file" id="add-project-fields" name="projectImage8">
            </div>

            <div class="col-md-12 mb-3">
              <label id="sect-title">Languages Used</label>

              <div class="row col-md-12">
                <label for="javascript" class="checkbox-inline col-md-4 mb-3 form-control">
                  <input type="checkbox" id="inlineCheckbox1" name="javascript" value="javascript"> JavaScript
                </label>


                <label for="react" class="checkbox-inline form-control col-md-4 mb-3">
                  <input type="checkbox" id="inlineCheckbox2" name="react" value="react"> React
                </label>


                <label for="html" class="checkbox-inline form-control col-md-4 mb-3">
                  <input type="checkbox" id="inlineCheckbox2" name="html" value="html"> HTML
                </label>

              </div>

              <div class="row col-md-12">
                <label for="css" class="checkbox-inline form-control col-md-4 mb-3">
                  <input type="checkbox" id="inlineCheckbox2" name="css" value="css"> CSS
                </label>


                <label for="python" class="checkbox-inline form-control col-md-4 mb-3">
                  <input type="checkbox" id="inlineCheckbox2" name="python" value="python"> Python
                </label>


                <label for="node" class="checkbox-inline form-control col-md-4 mb-3">
                  <input type="checkbox" id="inlineCheckbox2" name="node" value="node"> Node.JS
                </label>
              </div>

              <div class="row col-md-12">
                <label for="express" class="checkbox-inline form-control col-md-4 mb-3">
                  <input type="checkbox" id="inlineCheckbox2" name="express" value="express"> Express
                </label>


                <label for="json" class="checkbox-inline form-control col-md-4 mb-3">
                  <input type="checkbox" id="inlineCheckbox2" name="json" value="json"> JSON
                </label>


                <label for="rest" class="checkbox-inline form-control col-md-4 mb-3">
                  <input type="checkbox" id="inlineCheckbox2" name="rest" value="rest"> REST API
                </label>
              </div>

              <div class="row col-md-12">
                <label for="sql" class="checkbox-inline form-control col-md-4 mb-3">
                  <input type="checkbox" id="inlineCheckbox2" name="sql" value="sql"> Database
                </label>


                <label for="cloud" class="checkbox-inline form-control col-md-4 mb-3">
                  <input type="checkbox" id="inlineCheckbox2" name="cloud" value="cloud"> Cloud
                </label>

              </div>

            </div>


          </div>










          <h4 class="mb-3">Team Info</h4>
          <label id="sect-title">Group Name</label>
          <input type="text" class="form-control" id="add-project-fields" name="teamName">

          <div class="row">
            <div class="col-md-6 mb-3">
              <label id="sect-title">Team Member 1 Name</label>
              <input type="text" class="form-control" id="add-project-fields" name="memberone">
            </div>

            <div class="col-md-6 mb-3">
              <label id="sect-title">Email</label>
              <input type="text" class="form-control" id="add-project-fields" name="oneemail">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label id="sect-title">Github</label>
              <input type="text" class="form-control" id="add-project-fields" name="onegit">
            </div>

            <div class="col-md-6 mb-3">
              <label id="sect-title">LinkedIn</label>
              <input type="text" class="form-control" id="add-project-fields" name="onelinkedin">

            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label id="sect-title">Twitter</label>
              <input type="text" class="form-control" id="add-project-fields" name="onetwitter">
            </div>

            <div class="col-md-6 mb-3">
              <label id="sect-title">Profile Picture</label>
              <input type="file" class="form-contrl-file" id="add-project-fields" name="onepicture">

            </div>
          </div>






          <!-- Submit Button -->
          <input type="submit" value="Add Item" class="btn btn-primary btn-lg ">

        </form>

      </div>
    </div>







  </div>
  </div>
  </div>
</body>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; 2017-2020 Company Name</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Privacy</a></li>
    <li class="list-inline-item"><a href="#">Terms</a></li>
    <li class="list-inline-item"><a href="#">Support</a></li>
  </ul>
</footer>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="../assets/dist/js/bootstrap.bundle.js"></script>
<script src="form-validation.js"></script>
</body>

</html>