<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">

  <meta name="author" content="">

  <title>Project Vault</title>

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/signin.css" rel="stylesheet">

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      {{!-- <img src="/img/logo.png" height='50'> --}}
      <a class="navbar-brand ml-2" href="https://www.northrange.dev">Project Vault</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://www.northrange.dev">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>


          <li class="nav-item">
            <a href="/contact" class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a href="/add_project" class="nav-link" href="#">Add Project</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link" href="#">Logout</a>
          </li>
        </ul>
  </nav>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Page Content -->
  <div class="container"></div>

  <div class="col-12" id="new-message">
    <h1>{{name}}</h1>
    <h1>{{description}}</h1>
    <img src='/uploads/{{filename}}'>
    {{!-- <div class="col-12" id="new-message">
        <h1>{{description}}</h1>
      </div>   --}}

    </form>
    <!-- /.container -->

    {{!-- <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer> --}}

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>